include LICENSE
include tir/technologies/*.py
include tir/technologies/core/drivers/*.exe
include tir/technologies/core/data/*.csv
include tir/technologies/core/third_party/*.py
include tir/technologies/core/*.py
